<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft Stats for Today</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Minecraft Stats for Today</h1>
    </header>

    <section class="username-section">
        <label for="username">Enter Minecraft Username:</label>
        <form method="post">
            <input type="text" id="username" name="username" required>
            <button type="submit">Get Stats</button>
        </form>
    </section>

    {% if stats %}
    <section class="stats">
        <h2>Stats for {{ stats.username }}</h2>
        <p>Elo: <span style="color:blue">{{ stats.total_elo_change }}</span></p>
        <p>Record: <span style="color:green">{{ stats.won_matches_count }} W</span> - 
                   <span style="color:red">{{ stats.loss_matches_count }} L</span> - 
                   <span style="color:orange">{{ stats.draw_count }} D</span></p>
        <p>Win Percentage: {{ stats.win_percentage }}</p>
    </section>
    {% endif %}

    <footer>
        <p>This project is using the <a href="https://mcsrranked.com/" target="_blank">mcsr-ranked API</a> and it is not affiliated with Mojang Studios or Microsoft.</p>
        <p>&copy; 2024 MCSR Ranked Stats Today - Made by qMaxLMAO</p>
    </footer>
</body>
</html>
